<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
         @import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}
</style>
    <title>Document</title>
</head>
<body>
    <!-- <h1>Sure, You want to remove this Show??</h1>
    <h2><a href="/{{venue_id}}/{{show_id}}/confirm_remove_show">Yes!</a></h2>
    
    <h2><a href="/{{venue_id}}/show_list_admin">No, Return to Shows.</a></h2> -->



    <br> <br>
    <div style="text-align: center; margin: auto;" class="toast toast-demo fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
           <h4><strong>Sure, You want to remove this Show??</strong></h4>
                  <div class="mt-2 pt-2 border-top">
    
            <a class="btn btn-info btn-sm" href="/{{admin_name}}/{{venue_id}}/{{show_id}}/confirm_remove_show"><strong>Yes! Remove This Show.</strong></a>
          <br><br>   <a class="btn btn-danger btn-sm" href="/{{admin_name}}/{{venue_id}}/show_list_admin"><strong>No, Return to Shows.</strong></a>

            <!-- <button type="button" class="btn btn-primary btn-sm">Take action</button> -->
            <!-- <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button> -->
          </div>
        </div>
      </div>
</body>
</html>