<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
                 @import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}
        </style>
    </head>
    <body>


        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/{{name}}/summary"><strong>{{name}}</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse show" id="navbarBasic">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                  <li class="nav-item">
                    <a class="nav-link active text-success" aria-current="page" href="/{{name}}/create_venue"><strong>Create New Venue</strong> </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/log_out"><strong>Log Out</strong></a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li> -->
                </ul>
                <!-- <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
              </div>
            </div>
          </nav>











        <!-- <h1>{{name}}</h1>
        <h2 style="text-align: right;"><a href="/log_out">Log Out</a></h2> -->


      
<br>


    {% if venues %}

        <div>
            {% for venue in venues %}

            <div class="card">
                <div class="card-header bg-primary">
                 <h4><strong>Venue :</strong>  {{venue.venue_name}}</h4>
                </div>
                <div class="card-body bg-warning">
                  <h5 class="card-title"><strong>Place : </strong> {{venue.venue_place}}</h5>
                  <p class="card-text"><strong>Location :</strong>  {{venue.venue_location}}</p>
                  <p class="card-text"><strong>Capacity :</strong>  {{venue.venue_capacity}}</p>

                  <a href="/{{name}}/{{venue.venue_id}}/show_list_admin" class="btn btn-primary">See created Shows</a>
                  <a href="/{{name}}/{{venue.venue_id}}/create_show" class="btn btn-success">Create Show</a>
                  <a href="/{{name}}/{{venue.venue_id}}/edit_venue" class="btn btn-secondary">Edit Venue</a>
                  <a href="/{{name}}/{{venue.venue_id}}/remove_venue" class="btn btn-danger">Remove Venue</a>
    
                </div>
                <!-- <div class="card-footer text-muted bg-secondary">
                 <strong>Capacity :</strong>  {{venue.venue_capacity}}
                </div> -->
              </div>








            <!-- <div>
                <h4>{{venue.venue_id}}</h4>
                <h4>{{venue.venue_name}}</h4>
                <h4>{{venue.venue_place}}</h4>
                <h4>{{venue.venue_location}}</h4>
                <h4>{{venue.venue_capacity}}</h4>
                <br>

                <div>
                    <h2 style="background-color: rgb(73, 62, 198);"><a href="/{{venue.venue_id}}/show_list_admin">See created Shows</a></h2>
                </div>

                                        <div style="background-color: darkorange;">
                                            <h2>  <a href="/{{venue.venue_id}}/create_show">Create Show</a>     </h2>
                                        </div>
                                        
                                        <div style="background-color: rgb(66, 156, 161);">
                                            <h2>  <a href="/{{name}}/{{venue.venue_id}}/remove_venue">Remove Venue</a>     </h2>
                                        </div>
            </div> -->
            <!-- <hr> -->
            <br><br>
            {% endfor %}
        </div>
        {% else %}

        <div class="alert alert-warning">
          <h3><strong>No Venues are added. </strong></h3>
          <!-- <strong><p>Please Book another show.</p></strong>  -->
          <h5>Please add some Venues.</h5>
        </div>
        <a href="/{{name}}/create_venue" class="btn btn-outline-warning">Create New Venue</a>
  


        
                <!-- <h2>No Venue</h2> -->
                <!-- <div class="toast toast-demo fade show" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-body">
                     <strong> No Venues are added. Please add some Venues.</strong>
                            <div class="mt-2 pt-2 border-top">
                                    <a class="btn btn-info btn-sm" href="/{{name}}/create_venue"><strong>Create New Venue</strong></a> -->

              
            {% endif %}

        <!-- <h1>Here we will show venues.</h1> -->
        <!-- <h2>Create New Venue -----/> <a href="/{{name}}/create_venue">Click Here To Create</a></h2> -->
  
</body>
</html>